<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
</head>

<body>
  <!--Login Modal-->
  <button class="bg-blue-500 text-white rounded-md px-4 py-2 hover:bg-blue-700 transition"
    onclick="openModal('loginModal')">Open modal</button>

  

  <script type="text/javascript">
    function openModal(modalId) {
      loginModal = document.getElementById(modalId)
      loginModal.classList.remove('hidden')
    }

    function closeModal() {
      loginModal = document.getElementById('loginModal')
      loginModal.classList.add('hidden')
    }
  </script>
<!--/Login Modal-->
</body>
</html>
<!-- component -->

<div class="flex items-center space-x-2 space-y-2">
  <div class="group relative flex flex-shrink-0 self-start cursor-pointer pt-2">
      <img x-on:mouseover="open2 = true" x-on:mouseleave="open2 = false"
          src="https://images.unsplash.com/photo-1610156830615-2eb9732de349?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDExfHJuU0tESHd3WVVrfHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
          alt="" class="h-8 w-8 object-fill rounded-full">

  </div>

  <div class="flex items-center justify-center space-x-2">
      <div class="block">
          <div class="bg-gray-100 w-auto rounded-xl px-2 pb-2">
              <div class="font-medium">
                  <a href="#" class="hover:underline text-sm">
                      <small>Hasan Muhammad</small>
                  </a>
              </div>
              <div class="text-xs">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita,
                  maiores!
              </div>
          </div>
          <div class="flex justify-start items-center text-xs w-full">
              <div
                  class="font-semibold text-gray-700 px-2 flex items-center justify-center space-x-1">
                  <a href="#" class="hover:underline">
                      <small>Like</small>
                  </a>
                  <small class="self-center">.</small>
                  <a href="#" class="hover:underline">
                      <small>Reply</small>
                  </a>
                  <small class="self-center">.</small>
                  <a href="#" class="hover:underline">
                      <small>15 hour</small>
                  </a>
              </div>
          </div>
      </div>

  </div>

  <div
      class="self-stretch flex justify-center items-center transform transition-opacity duration-200 opacity-0 translate -translate-y-2 hover:opacity-100">
      <a href="#" class="">
          <div
              class="text-xs cursor-pointer flex h-6 w-6 transform transition-colors duration-200 hover:bg-gray-100 rounded-full items-center justify-center">
              <svg class="w-4 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
                  </path>
              </svg>
          </div>

      </a>
  </div>

</div>


 <!--Subscribe-->
 <div class="container font-sans bg-green-100 rounded my-8 p-4 md:p-24 text-center">
    <h2 class="font-bold break-normal text-2xl md:text-4xl">Subscribe to Website Name</h2>
    <h3 class="font-bold break-normal font-normal text-gray-600 text-base md:text-xl">Get the latest posts
        delivered
        right to your inbox</h3>
    <div class="w-full text-center pt-4">
        <form action="#">
            <div class="max-w-sm mx-auto p-1 pr-0 flex flex-wrap items-center">
                <input type="email" placeholder="youremail@example.com"
                    class="flex-1 appearance-none rounded shadow p-3 text-gray-600 mr-2 focus:outline-none">
                <button type="submit"
                    class="flex-1 mt-4 md:mt-0 block md:inline-block appearance-none bg-green-500 text-white text-base font-semibold tracking-wider uppercase py-4 rounded shadow hover:bg-green-400">Subscribe</button>
            </div>
        </form>
    </div>
</div>
<!-- /Subscribe-->


